/* src/components/Secao3/styles.module.css */
.secao3 {
    height: 100vh; /* Altura de cada seção */
    width: 100%;
    background: linear-gradient(to bottom, #DDDDDD, #C1C1C1);
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;
  }
  